server:
  port: 8082

spring:
  application:
    name: BookingService
  datasource:
    url: jdbc:postgresql://localhost:5432/mediconnect
    username: nikhilladdha
    password: helloMAC
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
